@import url('https://fonts.googleapis.com/css?family=Jua|Russo+One|Wendy+One&display=swap');

.d-none {
    display: none;
}

.ad-b {
    grid-area: ad-b;
    width: 728px;
    height: 90px;
    background-color: hotpink; /* TODO: remove */
}
.ad-b-1 {
    grid-area: ad-b-1;
    width: 320px;
    height: 100px;
    display: none;
    background-color: green; /* TODO: remove */
}
.ad-b-2 {
    grid-area: ad-b-2;
    width: 320px;
    height: 100px;
    display: none;
    background-color: yellow; /* TODO: remove */
}
.ad-r {
    grid-area: ad-r;
    width: 300px;
    height: 600px;
    background-color: fuchsia; /* TODO: remove */
}
.ad-r-1 {
    grid-area: ad-r-1;
    width: 300px;
    height: 250px;
    background-color: cornflowerblue; /* TODO: remove */
}
.ad-r-2 {
    grid-area: ad-r-2;
    width: 300px;
    height: 250px;
    display: none;
    background-color: chocolate; /* TODO: remove */
}


/*.container:after { content: 'layout default'; position: absolute; top: 0; bottom: 0; left: 0; right: 0; }*/
.container {
    display: grid;
    /*grid-gap: 5px;*/
    grid-template-rows: auto auto 90px;
    grid-template-columns: auto 300px;
    grid-template-areas:
            'game-area ad-r-1'
            'game-area ad-r'
            'ad-b ad-r';
    height: 100%;
    justify-items: center;
}

.game-header {
    position: absolute;
    top: 5px;
    right: 320px;
    z-index: 1;
}
.game-header i {
    color: white;
    font-size: 1.6rem;
    cursor: pointer;
    vertical-align: middle;
}
.game-area {
    grid-area: game-area;
    width: 100%;
    height: 100%;
    /*background-color: cadetblue;*/ /* TODO: remove */
}


.game-popup {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 90px;
    right: 300px;
    color: white;
    padding: 10px;
}

.popup-start {
    align-self: center;
}

.popup-rules {
    align-self: center;
}
.rule-card {
    display: inline-flex;
    flex-direction: column;
    margin: 0.4rem;
}
.rule-card > h3 {
    margin: 0 0 0.2rem;
}
.rule-card > p {
    margin: 0;
}

.popup-credits {
    align-self: center;
}
.popup-credits h3 {
    margin: 0;
}
.popup-credits a {
    text-decoration: none;
    color: inherit;
}

.popup-player-select {
    align-self: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    /*justify-content: center;
    align-content: center;*/
}

.game-title {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    grid-area: header;
    font-family: 'Jua', Arial, sans-serif;
    text-align: center;
    font-size: 3rem;
}


@media (max-width: 640px) {
    /*.container:after { content: 'layout 1'; position: absolute; top: 0; bottom: 0; left: 0; right: 0; }*/
    .container {
        grid-template-columns: auto;
        grid-template-rows: auto 100px;
        grid-template-areas:
                'game-area'
                'ad-b-1';
    }
    .ad-b-1 {
        display: block;
    }
    .ad-r,
    .ad-r-1,
    .ad-r-2,
    .ad-b,
    .ad-b-2 {
        display: none;
    }
    .game-header {
        right: 20px;
    }
    .game-popup {
        right: 0;
        bottom: 100px;
    }
}

@media (min-width: 640px) and (max-width: 728px) {
    /*.container:after { content: 'layout 2'; position: absolute; top: 0; bottom: 0; left: 0; right: 0; }*/
    .container {
        grid-template-columns: auto auto;
        grid-template-rows: auto 100px;
        grid-template-areas:
                'game-area game-area'
                'ad-b-1 ad-b-2';
    }
    .ad-b-1,
    .ad-b-2 {
        display: block;
    }
    .ad-r,
    .ad-r-1,
    .ad-r-2,
    .ad-b {
        display: none;
    }
    .game-header {
        right: 20px;
    }
    .game-popup {
        right: 0;
        bottom: 100px;
    }
}

@media (min-width: 728px) and (max-width: 1028px), (min-width: 728px) and (max-height: 250px) {
    /*.container:after { content: 'layout 3'; position: absolute; top: 0; bottom: 0; left: 0; right: 0; }*/
    .container {
        grid-template-columns: auto;
        grid-template-rows: auto 90px;
        grid-template-areas:
                'game-area'
                'ad-b';
    }
    .ad-b {
        display: block;
    }
    .ad-r,
    .ad-r-1,
    .ad-r-2,
    .ad-b-1,
    .ad-b-2 {
        display: none;
    }
    .game-header {
        right: 20px;
    }
    .game-popup {
        right: 0;
        bottom: 90px;
    }
}

@media (min-width: 1028px) and (min-height: 600px) and (max-height: 850px) {
    /*.container:after { content: 'layout 4'; position: absolute; top: 0; bottom: 0; left: 0; right: 0; }*/
    .container {
        grid-template-rows: auto 90px;
        grid-template-columns: auto 300px;
        grid-template-areas:
                'game-area ad-r'
                'ad-b ad-r';
    }
    .ad-b,
    .ad-r {
        display: block;
    }
    .ad-r-1,
    .ad-r-2,
    .ad-b-1,
    .ad-b-2 {
        display: none;
    }
    .game-header {
        right: 320px;
    }
    .game-popup {
        right: 300px;
        bottom: 90px;
    }
}

@media (min-width: 1028px) and (min-height: 500px) and (max-height: 600px) {
    /*.container:after { content: 'layout 6'; position: absolute; top: 0; bottom: 0; left: 0; right: 0; }*/
    .container {
        grid-template-rows: auto auto 90px;
        grid-template-columns: auto 300px;
        grid-template-areas:
                'game-area ad-r-1'
                'game-area ad-r-2'
                'ad-b ad-r-2';
    }
    .ad-b,
    .ad-r-1,
    .ad-r-2 {
        display: block;
    }
    .ad-r,
    .ad-b-1,
    .ad-b-2 {
        display: none;
    }
    .game-header {
        right: 320px;
    }
    .game-popup {
        right: 300px;
        bottom: 90px;
    }
}

@media (min-width: 1028px) and (min-height: 250px) and (max-height: 500px) {
    /*.container:after { content: 'layout 5'; position: absolute; top: 0; bottom: 0; left: 0; right: 0; }*/
    .container {
        grid-template-rows: auto 90px;
        grid-template-columns: auto 300px;
        grid-template-areas:
                'game-area ad-r-1'
                'ad-b ad-r-1';
    }
    .ad-b,
    .ad-r-1 {
        display: block;
    }
    .ad-r,
    .ad-r-2,
    .ad-b-1,
    .ad-b-2 {
        display: none;
    }
    .game-header {
        right: 320px;
    }
    .game-popup {
        right: 300px;
        bottom: 90px;
    }
}

.btn-start {
    font-size: 2rem !important;
    font-weight: bold !important;
}
.btn-credits {

}
/* BOOTSTRAP */

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover {
    color: #212529;
    text-decoration: none;
}

.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;

}

.btn-success:focus, .btn-success.focus {
    box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-block + .btn-block {
    margin-top: 0.5rem;
}
